/* css page admin */
body {
    color: #080808;
}
.text-gray-800 {
    color: #000 !important;
}
.text-dark {
    color: black !important;
}
.tab-pane {
    padding-top: 25px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .btn-outline-dark, .form-control {
    color: black;
}
/* css image */
#holder {
    margin: 15px;
    max-height: 150px;
}

#holder img {
    height: 150px !important;
}
#preview img {
    max-height: 150px;
}
#preview-image {
    display: none;
    margin: 15px;
    max-height: 150px;
}

/* sticky css */
.table-responsive {
    height: 500px; /* Chiều cao của bảng */
    overflow-y: auto; /* Bật thanh cuộn dọc */
}

.table thead th {
    position: sticky !important; /* Làm cho các tiêu đề cố định */
    top: 0; /* Vị trí cố định ở trên cùng */
    background-color: white; /* Đặt màu nền để tiêu đề không bị trong suốt */
    z-index: 999; /* Đảm bảo tiêu đề luôn ở trên cùng */
}
/* end sticky css */

/* css product_images */

/* css image */
#image-holder {
    margin: 15px;
    max-height: 150px;
}

#image-holder img {
    height: 150px !important;
}
#pr img {
    max-height: 150px;
}
#pr-image {
    display: none;
    margin: 15px;
    max-height: 150px;
}

/* css tags */
.bootstrap-tagsinput {
    width: 100%;
}
.bootstrap-tagsinput input {
    padding: 3px;
}
.label {
    padding: .2em .6em .3em;
    border-radius: .25em;
}
.label-info {
    background-color: #5bc0de;
}

.table-responsive img {
    max-width: 50%;
}

.warningMenu {
    color: red;
    margin-right: 5px;
}
.deleteForm {
    position: absolute;
    top: 12px;
    right: 60px;
    z-index: 99;
}
.sr-product .form-control {
    width: 350px;
}

.action-buttons {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút, tùy chỉnh theo ý muốn */
    /* border-bottom: 1px solid white !important; */
}

.action-buttons form {
    margin: 0;
}
.btn-cntt {
    color: black;
    background-color: #76b900;
    border-color: #76b900;
}
.btn-cntt:hover {
    color: white;
    text-decoration: none;
}
.cke_notification_warning {
    display: none;
}