/* Ví dụ trong app.css hoặc style.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/* @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1230px;
    }
} */
body {
    color: #333;
}
/* css header */
#templatemo_main_nav {
    padding-right: 4rem;
}
.main-nav-link {
    padding-right: 1rem;
}
h4 {
    font-size: 1rem;
    font-weight: bold;
}
.bg-gr {
    background-color: #76b900;
}

a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #76b900;
}
.breadcrumb-item a:hover {
    color: #76b900;
}
/* Begin Menu */
.f-h2 {
    font-size: 35px !important;
}
/* Navbar dropdown */
.global-nav {
    background-color: #fff;
    height: 44px;
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.navbar-brand {
    margin-right: 1rem;
}

.navbar-content {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    color: #666;
}

.nav-item {
    position: static;
}

.nav-link {
    text-decoration: none;
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 3px solid white;
}
.underline-gr {
    border-bottom: 3px solid greenyellow;
}
.underline-green {
    border-bottom: 3px solid greenyellow;
}

.nav-link:hover {
    background-color: #fff;
}

.dropdown-content {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw; /* Chiều rộng bằng toàn bộ màn hình */
    background-color: #eee; /* Màu nền */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng */
    z-index: 1; /* Độ sâu z-index để đảm bảo hiển thị phía trên các phần tử khác */
}

.dropdown-sub .list-sub {
    display: none;
}

.dropdown-sub.active .list-sub {
    display: block;
}

.nav-item:hover .dropdown-content {
    display: block;
}

.dropdown-submenu:hover .list-sub {
    display: block;
}
.dropdown-submenu a {
    font-size: 14px !important;
}
.btn-menu {
    color: #1a1a1a;
    font-weight: 700 !important;
}
/* .dropdown-submenu a:hover, .btn-menu:hover {
    color: #76b900;
} */

.btn-xmark button {
    width: 30px;
    height: 30px;
    background-color: #76b900;
}
.btn-xmark i {
    color: white;
}
.list-sub {
    display: none;
    position: fixed;
    /* osition: fixed; */
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #E0E0E0;
    z-index: 1;
    margin-top: 10px;
}

.dropdown-link {
    color: black;
    text-decoration: none;
    /* display: block; */
    white-space: nowrap;
}

.dropdown-link:hover {
    color: #ddd;
}

.dropdown-content li a:hover, .text-menu-3 a:hover {
    color: #76b900;
}

.menu-title-1 {
    float: left;
    color: #666;
    cursor: pointer;
    margin: 0;
    padding: 10px 11px 10px 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    height: 45px;
}
.menu-title-child {
    color: #1a1a1a;
    float: left;
    margin-right: 30px;
    max-width: 190px;
    padding-bottom: 20px;
    width: 190px;
    padding-top: 30px;
    line-height: 1.25em;
}
.menu-lg-item {
    padding: 0 !important;
    background-color: #eee !important;
    border: 0px !important;
    font-size: 14px !important;
}
.menu-lg-item:hover {
    color: #000;
}
.menu-lg-item:active {
    color: #000;
}
.menu-lg-child {
    padding: 0 !important;
    background-color: #E0E0E0 !important;
    border: 0px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}
.menu-lg-child1 {
    padding: 0 !important;
    background-color: #E0E0E0 !important;
    border: 0px !important;
    color: #666;
    font-size: 14px !important;
    padding: 7px 0 !important;
    line-height: 20px;
    font-weight: 0 !important;
}
.menu-title-2 {
    color: #1a1a1a;
    float: left;
    margin-right: 30px;
    max-width: 190px;
    padding-bottom: 20px;
    width: 190px;
    padding-top: 30px;
    line-height: 1.25em;
}
.menu-item {
    padding: 0 !important;
    min-height: 40px;
    background-color: #eee !important;
    border: 0px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}
.menu-item-child {
    padding: 0 !important;
    background-color: #eee !important;
    border: 0px !important;
    color: #666;
    font-size: 14px !important;
    padding: 7px 0 !important;
    line-height: 20px;
    font-weight: 0 !important;
}
hr {
    margin: 10px 0 !important;
    border: 1px solid #666 !important;
}
.menu-title-3 {
    /* background-color: #eee; */
    color: #1a1a1a;
    font-size: 14px !important;
    line-height: 1.25em;
    padding-top: 30px;
    width: 836px;
}
.w-menu-3 {
    width: 836px;
}
.text-menu-3 {
    padding-bottom: 7px;
    font-size: 14px !important;
    line-height: 1.25em;
}

.menu-title-4 {
    color: #666;
    cursor: pointer;
    margin: 0;
    padding: 10px 11px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    float: left;
    height: 45px;
}
.menu-item-4 {
    padding: 0 !important;
    background-color: #eee !important;
    border: 0px !important;
    font-size: 14px !important;
}

.n24-icon {
    height: 24px;
    width: 24px;
}

/* search navbar */
.modal-search {
    width: 35%;
    margin-right: 4rem;
    margin-top: 0;
}
.modal-backdrop {
    top: 44px;
}
/* search navbar */
/* ------css Nabar reponsive ----- */
.navbar-mobile {
    font-size: 14px !important;
}
.nav-item-mobile {
    background-color: #fff;
    color: #1a1a1a;
    padding: 15px 0px 15px 15px;
}

.dropdown-content-mobile {
    display: none;
    list-style: none;
    padding: 0 0 30px 0;
    margin: 15px 0 0 0;
    background-color: #E0E0E0;
}
.bg-mb-1 {
    background-color: #eee !important;
    padding: 0 !important;
}
.icon-down {
    float: right;
    padding: 4px 0;
    margin-right: 25px;
}
.icon-up {
    display: none;
    float: right;
    padding: 4px 0;
    margin-right: 25px;
}

.nav-child-mobile {
    padding: 15px 0px 15px 10px;
}

.nav-link-mb {
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}
.mr-10 {
    margin-right: 10px;
}
.p-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.sub-pt-30 {
    padding-top: 30px;
}

.sub-pt-30 a {
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 1em;
    padding-bottom: 15px;
    text-transform: none;
}
.sub-pt-30 hr {
    margin-left: 40px !important;
}
/* .sub-pt-30 > hr:last-of-type {
    display: none;
} */

.sub-pt-10 {
    margin-top: 10px;
}
.sub-pt-10 a {
    font-size: 14px !important;
    line-height: 1em;
}
.link-sub-mb {
    margin-left: 25px;
    cursor: pointer;
}
.link-sub-parent {
    margin-left: 50px;
    cursor: pointer;
}
/* css header */

/* css carousel */

.bl-carousel {
    background-color: black;
    color: white;
}

.btn-carousel {
    background-color: var(--custom-button-color, #76b900);
    border: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 1.25em;
    min-width: 50px;
    padding: 13px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    white-space: nowrap;
}
.btn-carousel:hover {
    background-color: var(--custom-button-hover-color, #91c733);
    color: #000;
}
.carousel-inner h1 {
    font-size: 3rem !important;
    font-weight: bold;
}
.carousel-inner h3 {
    font-weight: bold;
}
.carousel-inner p {
    font-size: 18px !important;
    line-height: 1.75em;
}
.wh-carousel p {
    color: #1a1a1a;
}

/* css carousel */

/* --------------------Begin Css Danh mục sản phẩm------------------------ */
.hp-category {
    margin: 1rem 0;
    background-color: #eee;
    border-radius: 5px;
}
.hp-category a {
    color: black;
    font-weight: 700 !important;
}
.hp-category a:hover {
    color: #76b900;
}
.filter-cate h1{
    font-size: 1.5rem;
    font-weight: 700;
}
/* Bộ lọc */
.filter h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.bg-filter {
    margin: 0;
    padding: 12px 0;
}
.nav-filter li {
    padding-left: 15px;
    position: relative;
    font-size: 0.9rem !important;
}
.fixed-filter {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    left: 0;
    padding: 10px 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.cont-fixed {
    display: flex !important;
    padding: 0;
}
.filter-item {
    padding: 5px 10px;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
}

.btn-filter {
    text-decoration: none;
    color: black;
}
.btn-filter:hover {
    color: #76b900;
}
/*  */
.pos-filter {
    position: relative;
}
.arrow-filter {
    width: 27px;
    height: 20px;
    top: -18px;
    left: 25px;
    position: absolute;
    overflow: hidden;
}

.arrow-filter::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background: #fff;
    transform: rotate(45deg);
    top: 10px;
    left: 0;
    box-shadow: -2px -2px 5px -4px;
    z-index: 9999;
}

.arrow-filter-right {
    width: 27px;
    height: 20px;
    top: -18px;
    right: 25px;
    position: absolute;
    overflow: hidden;
}
.arrow-filter-right::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background: #fff;
    transform: rotate(45deg);
    top: 10px;
    right: 0;
    box-shadow: -2px -2px 5px -4px;
    z-index: 9999;
}
.filter-show-right {
    left: auto !important;
    right: 0;
}

/*  */
.child-filter {
    display: none;
    list-style: none;
    position: absolute;
    margin-top: 13px;
    width: 100vw;
    padding: 12px 0px;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
}

.child-filter a {
    display: inline-block;
    word-wrap: break-word;
    margin: 10px 0;
}
.child-filter li {
    display: inline-block;
    word-wrap: break-word;
}
.child-filter-mb {
    display: none;
    list-style: none;
    position: absolute;
    margin-top: 10px;
    width: 100vw;
    padding: 12px 0px;
    z-index: 999;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
}

.child-filter-mb a {
    display: inline-block;
    word-wrap: break-word;
    margin: 10px 0;
}
.child-filter-mb li {
    display: inline-block;
    word-wrap: break-word;
}
.btn-child-filter {
    align-items: center;
    background: #f3f4f6;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    color: #444;
    cursor: pointer;
    height: 34px;
    padding: 5px 10px;
    white-space: nowrap;
}
.btn-child-filter-mb {
    align-items: center;
    background: #f3f4f6;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    color: #444;
    cursor: pointer;
    height: 34px;
    padding: 5px 10px;
    white-space: nowrap;
}
.filter-button-sticky {
    bottom: 0;
    margin: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
}
.filter-button {
    background-color: #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, .05);
    margin-top: 20px;
    padding-top: 8px;
    text-align: center;
    display: none;
}
.filter-button-mb {
    background-color: #fff;
    margin-top: 20px;
    padding-top: 8px;
    text-align: center;
    display: none;
}
.btn-filter-close, .btn-filter-readmore, .btn-filter-close-mb, .btn-filter-readmore-mb {
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    margin: 0 5px;
    padding: 10px 0;
    text-align: center;
    width: 170px;
    position: relative;
}
.btn-filter-close, .btn-filter-close-mb {
    border: 1px solid #dd1c1a;
    color: #dd1c1a;
}
.btn-filter-readmore, .btn-filter-readmore-mb {
    background-color: #76b900;
    border: 1px solid #76b900;
    color: #fff;
}
button:focus {
    outline: none;
}
.border-blue {
    border: 2px solid #76b900 !important;
}

.show-filter:active {
    border: 2px solid #76b900;
}
.show-filter-mb {
    position: relative;
}
.show-filter-mb:active {
    border: 2px solid #76b900;
}
.filter-total {
    width: 20% !important;
}

.splide__slide {
    width: auto !important;
    margin-right: 6px !important;
    position: unset;
}
.splide-right {
    position: relative;
}
.mobile-filter {
    width: 100%;
    max-width: 100%;
}
.splide__arrow,
.splide__pagination {
    display: none;
}
/* Bộ lọc */

.bg-cate {
    margin: 0;
}
.btn-img {
    padding: 5.5px;
}
.custom-row {
    margin: 0 -4px;
}
.row.custom-row .col-w-5 {
    padding-left: 4px;
    padding-right: 4px;
  }
.row.custom-row .col-s-3 {
    padding-left: 4px;
    padding-right: 4px;
  }
.img-size {
    width: auto; /* or a relative size like 100% */
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}
.show-prod-cate .pagination {
    margin-bottom: 0;
}
.btn-img-new {
    padding: 6px;
    /* height: 200px; */
}
.btn-img-new img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-new {
    overflow: hidden;
    transition: scale .5s ease;
}
.card-new:hover {
    scale: 1.05;
    transition: scale .5s ease;
}
.card-new h4 {
    padding: 10px;
    line-height: 21px;
    font-size: 1rem !important;
    font-weight: bold !important;
    height: 76px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.card-new p{
    padding: 0 10px 10px 10px;
    line-height: 1.5rem;
    height: 148px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.ft-sw {
    font-size: 20px !important;
    font-weight: 700 !important;
}
.hover-gr {
    margin-top: 6px;
}
.h-30 {
    height: 30px;
}
.lien-he-price {
    font-size: .9rem;
    padding: 2px 15px;
    background: #76b900;
    border-radius: 3px;
    color: black;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}
.nav-mb li {
    padding-left: 15px;
    /* background-color: #eee; */
}
.nav-mb a {
    padding: 5px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
    background-color: #eee;
}
.btn-link {
    text-decoration: none;
    color: black;
}
.btn-link:hover {
    color: #76b900;
}
.card {
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}
.text-dark {
    height: 66px;
    overflow: hidden;
}

.card-body ul {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
.icon-heart {
    color: #76b900;
}

/* Begin css categories */
.breadcrumb {
    margin-bottom: 0;
    padding: 10px 0;
}
.breadcrumb a {
    text-decoration: none;
    color: #212529;
} 

.menu-left {
    background: #fff;
    padding: 0 15px;
}
.product-wap {
    padding: 6px;
    box-shadow: none;
} 
.menu-left h2 {
    font-size: 25px !important;
    font-weight: 500;  
}
#cate-menu-left {
    padding: 0;
    height: auto;
}
.card-body {
    padding: 10px;
}
.pt-44 {
    margin-top: 44px;
    background-color: #eee;
}

.page-item.active .page-link {
    background-color: #76b900;
    border-color: #76b900;
}
.page-link {
    color: #000;
}
.content-cate {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: block;
    margin-right: auto;
    max-height: 500px;
    min-height: 0;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
}
.bg-prod {
    background-color: #76b900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 50px;
}
.bg-prod h2{
    font-size: 1.25rem;
    margin: 0;
    padding-left: 1rem;
    font-weight: 600;
}
.outstand-prod {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: block;
    margin-right: auto;
    max-height: 500px;
    min-height: 0;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
}
.title-outstand-prod {
    margin-top: 50px;
}
.support-prod {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: block;
    margin-right: auto;
    min-height: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
}
.top-heading {
    display: block;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    font-weight: 600;
    background: #eee;
    padding: 2px 10px 1px;
    border-radius: 3px;
}
.contact-infor {
    margin-bottom: 7px;
    margin-left: 5px;
    line-height: 20px;
}
.contact-infor i {
    margin-right: 5px;
}
.user-heading {
    font-weight: 500;
    color: #B30000;
    font-size: .9rem;
}

.sp-online {
    margin-top: 4px;
}
.top-heading i, .sp-online i {
    color: #76b900;
}
.i-skype {
    background: url(../img/skype-icon-min.png) no-repeat 0px 0 / 33px;
    display: inline-block;
    height: 15px;
    width: 33px;
    position: relative;
    top: 4px;
}
.i-zalo {
    background: url(../img/zalo-icon-min.png) no-repeat 0px 0 / 33px;
    display: inline-block;
    height: 15px;
    width: 33px;
    position: relative;
    top: 4px;
}
.i-gmail {
    background: url(../img/icon-gmail.png) no-repeat 0px 0 / 20px;
    display: inline-block;
    height: 15px;
    width: 20px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.btn-outstand img{
    border: 1px solid #eee;
    border-radius: 5px;
}
.show-more {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .91) 50%, #fff 55%);
    border-radius: 5px;
    bottom: 0;
    display: none;
    left: 0;
    margin-bottom: 0;
    padding-top: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
.btn-show-more button{
    padding: 5px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    background-color: #eee;
}
.outstand-show-more {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .91) 50%, #fff 55%);
    border-radius: 5px;
    bottom: 0;
    display: none;
    left: 0;
    margin-bottom: 0;
    padding-top: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
.nothing-show-more .icon {
    fill: #76b900;
    height: 50px;
    width: 50px;
}
.nothing-show-more .icon svg {
    fill: #76b900;
    height: 50px;
    width: 50px;
}
/* --------------------End Css Danh mục sản phẩm------------------------ */
/* Css content */
#chi-tiet h1, .content-cate h1 {
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
}
#chi-tiet table p {
    margin: 0;
}
#chi-tiet h2, .content-cate h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
#chi-tiet h3, .content-cate h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
#chi-tiet h4, .content-cate h1 {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
}
#chi-tiet a, .content-cate a {
    color: #76b900;
    text-decoration: underline;
}
#chi-tiet p, .content-cate p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 10px;
}
#chi-tiet table, .content-cate table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0,0,0,0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0,0,0,0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0,0,0,0.075);
    width: 100% !important;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
#chi-tiet table>:not(caption)>*, .content-cate table>:not(caption)>*{
    border-width: 1px 0;
}
#chi-tiet table tbody tr td:first-child, .content-cate table tbody tr td:first-child {
    word-break: initial;
}
#chi-tiet table>:not(caption)>*>*, .content-cate table>:not(caption)>*>* {
    border-width: 0 1px;
    padding: .3rem .5rem;
}
#chi-tiet img, .content-cate img {
    border-radius: 5px;
    max-width: 100%;
}
/* --------------------Begin Css Footer------------------------ */
.ft-black {
    background-color: #000;
    padding: 40px 30px;
}
.page-footer {
    border-bottom: 1px solid #747474;
    color: #eee;
    font-size: 26px !important;
    font-weight: 700 !important;
    line-height: 26px;
    padding-bottom: 9pt;
    text-align: left;
    text-transform: none;
}
.footer-link {
    margin-top: 10px;
    margin-bottom: 50px;
}
/* .footer-link li{
    margin-bottom: 5px;
} */
.ft-link {
    color: #76b900;
    line-height: 30px;
}
.ft-link:hover {
    color: #76b900;
}


.page-footer__social {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
    text-align: right;
    width: 33%;
}
.page-footer__social__label {
    color: #747474;
    display: inline-block;
    margin-right: 30px;
    padding-top: 2px;
    vertical-align: top;
}
.page-footer__social__link {
    display: inline-block;
    height: 24px;
    margin-right: 15px;
    text-decoration: none;
    width: auto;
}
.page-footer__social__link i {
    color: #999;
    font-size: 24px;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.fa-brands:hover {
    color: white;
}
.page-footer__subscribe {
    display: inline-block;
    width: 66%;
}
.subscribe-container {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.subscribe-container .center-content {
    height: 50px;
    max-width: 675px;
}
.subscribe-logo {
    float: left;
    display: inline-block;
    width: 50px;
    position: relative;
    top: 7px;
}
.subscribe-text {
    float: left;
    display: inline-block;
    font-size: 18px !important;
    line-height: 1;
    position: relative;
    top: 16px;
    color: white;
    margin-left: 30px;
}
.subscribe-container .button {
    float: left;
    display: inline-block;
    margin-left: 30px;
    margin-top: 3px;
}
.nv-button .btn-content {
    background-color: var(--custom-button-color, #76b900);
    border: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 18px ;
    font-weight: 700 !important;
    line-height: 1.25em;
    min-width: 50px;
    padding: 13px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    white-space: nowrap;
}
#sub-btn-font {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.global-footer-container {
    background-color: #fff;
    width: 100%;
}
.global-footer {
    background: #fff;
    margin: 0 auto;
    padding: 30px 0;
}
.global-footer__logo {
    display: block;
    float: left;
    height: 20px;
    margin: 0 auto 15px;
    width: 110px;
}
.global-footer__region {
    float: right;
    height: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.global-footer__region__label {
    color: #666;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
}

.global-footer__links {
    clear: both;
    list-style-type: none;
    margin: 0 0 4px;
    padding: 0;
}
.global-footer__links>li {
    display: inline-block;
    margin-right: 5px;
    padding-right: 10px;
    position: relative;
}
.global-footer__links a:hover {
    color: #76b900;
}
.global-footer__links>li>a {
    color: #666;
    display: inline-block;
    line-height: 24px;
    text-decoration: none;
}
.global-footer__links>li:after {
    background: #666;
    content: " ";
    height: 14px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
}
.global-footer__links>li:last-child:after {
    margin-right: 0;
    display: none;
}

.global-footer__copyright {
    clear: both;
    color: #666;
    font-size: 9pt !important;
    line-height: 15px;
}
/* --------------------End Css Footer------------------------ */

/* search */
.modal {
    z-index: 999999999;
    top: 44px;
    /* top: 55px; */
}


/* Comments */
.comment-write {
    padding: 15px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}
.comment-write h3 {
    font-size: 1.25em;
    font-weight: 500;
}
.form-comment input, .form-comment input::-webkit-input-placeholder {
    font-size: .9rem !important;
}
.info-form-comment, .input-comment {
    width: 100%;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-indent: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    padding: 5px;
}
.cmt-content-form span {
    display: flex;
    text-align: justify;
}
.p-close {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 1rem;
}
.link-close {
    border: 1px solid #76b900;
    background-color: #76b900;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 5px 40px;
    line-height: 28px;
}
.review-row {
    padding-top: 10px;
    margin-left: 25px;
    position: relative;
}
.view-comments-item.review-hidden {
    color: #999;
}
.img-member-thumb {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
    font-weight: 700 !important;
    box-shadow: 0 0 3px #000;
    text-shadow: 1px 1px 0 #fff;
    display: inline-block;
    text-transform: uppercase;
}
.name-member {
    font-size: 1rem !important;
    font-weight: 700 !important;
    line-height: 20px;
    margin-right: 10px;
    color: #666;
    display: inline-block;
}
.content-comments {
    margin: 0 10px 3px 25px;
    color: #333;
    line-height: 1.5em;
    font-size: 14px !important;
}
.content-comments p {
    line-height: 1.5em;
    font-size: 14px !important;
}
.relate-comment {
    margin-left: 25px;
}
.relate-com-item.rep-comment {
    display: none;
}
.relate-com-item, .relate-com-item~label {
    display: inline-block;
    margin-right: 20px;
    color: #222b45;
    cursor: pointer;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.bg-comments.level-2, .bg-comments.level-3, .bg-comments.level-4, .bg-comments.level-5, .bg-comments.level-6 {
    background: #f8f8f8;
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.user-normal-thumb {
    display: none;
}
.img-member-thumb {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
    font-weight: 700;
    box-shadow: 0 0 3px #000;
    text-shadow: 1px 1px 0 #fff;
    display: inline-block;
    text-transform: uppercase;
}
.user-normal-thumb {
    display: none;
}
.user-normal {
    color: #666;
    margin-bottom: 7px;
}
.i-favi {
    background: url(../img/favi.png) no-repeat 0 0 / 25px;
    display: inline-block;
    height: 25px;
    width: 25px;
    position: relative;
    top: 4px;
    margin-right: 7px;
}
.qtv {
    background: #f1c40f;
    border-radius: 2px;
    padding: 0 5px;
    line-height: normal;
    border: 1px solid #f1c40f;
    font-size: 11px;
    color: #333;
    font-weight: 400;
    display: inline-block;
    margin: 5px 0 0 10px;
}
.like-comment a {
    color: #222b45;
}

#rate-form .rate-stars-row {
    display: inline-block;
    width: auto;
    padding-right: 10px;
    margin-bottom: 0;
}
.form-item-title {
    font-weight: 600;
    margin-right: 10px;
}
.prod-rate {
    display: inline-block;
}
.rating .rate-poin-rdo {
    display: none;
}
.rating > label {
    margin-right: 3px;
}
.rating svg {
    color: #ddd;
    transition: fill 0.2s ease-in-out;
}
.cmt-reply {
    padding: 15px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}
.comment-replay-like span {
    padding-right: 12px;
    font-size: 14px !important;
}
.comment-replay-like span:first-child {
    font-size: 0.8rem;
    color: #b2b2b2;
}
.reply-btn {
    cursor: pointer;
}
.reply-form {
    display: none;
    padding-top: 10px;
    margin-left: 25px;
}

.submit-reply {
    border: 1px solid #76b900;
    background-color: #76b900;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 5px 12px;
    line-height: 24px;
}
.result-cmt {
    background: #f8f8f8;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.star-rated {
    color: #ddd;
    padding: 3px 0 5px 25px;
}
.star-rated svg {
    margin-right: 3px;
}

/* Begin Check list price */
#check-list {
    padding: 55px 0;
}
#check-list * {
    outline: none;
}
.content-check-list {
    display: block;
    text-align: center;
}
.content-check-list .decor {
    position: relative;
    display: block;
    height: 3px;
    width: 200px;
    margin: 20px auto;
}
.content-check-list .decor:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
}
.content-check-list .decor:after {
    content: "";
    position: absolute;
    top: 0;
    left: 35%;
    width: 30%;
    height: 100%;
    background: #76b900;
}
.check-list-title {
    text-align: center;
    color: #76b900;
    font-size: 0.9rem !important;
}
.formcheck {
    margin: 20px auto;
    width: 65%;
    display: inline-block;
}
.formcheck h1 {
    font-size: 18px !important;
    text-align: left;
}
#checklistnumber {
    padding: 1px;
    background: #76b900;
    width: 100%;
    float: left;
    border-radius: 3px;
}
#checklistnumber .search-submit {
    background: #76b900;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #fff;
    display: block;
    float: right;
    font-family: inherit;
    font-size: 1rem;
    padding: 7px 8px;
    text-align: center;
    width: 25%;
    box-sizing: border-box;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#checklistnumber .search-submit1 {
    background: #fafafa;
    color: #76b900;
    display: block;
    float: right;
    font-family: inherit;
    font-size: 20px !important;
    padding: 0px 5px;
    text-align: center;
    width: 7%;
    box-sizing: border-box;
    height: 40px;
    float: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#checklistnumber input[type="text"] {
    background: #fafafa;
    color: #000;
    display: block;
    width: 68%;
    box-sizing: border-box;
    font-size: 1rem !important;
    margin: 0;
    height: 40px;
    float: left;
    outline: none;
}
#checklistnumber input, #checklistnumber button {
    border: none;
}

#check-list table {
    border-right: 1px solid #A9A9A9;
    width: 100%;
    border-spacing: 0;
}
#check-list table thead {
    border: 1px solid #A9A9A9;
}
#check-list table thead th {
    border: 1px solid #A9A9A9;
    border-right: none;
    padding: 5px 10px;
}
#check-list table tbody tr td {
    border: 1px solid #A9A9A9;
    border-right: none;
    border-top: none;
    color: #333;
}
#check-list table tbody tr td.img-check-list {
    padding: 5px;
}
.listprice-check-list {
    padding: 0 15px;
    width: 130px;
}
.pricemarket-check-list {
    padding: 0 15px;
}
.desc {
    padding: 5px 15px;
}
.buttom-check-list {
    padding: 0 15px;
}
.btn-best-price-check {
    background-color: #76b900;
    border-color: #76b900;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
}
.btn-best-price-check:hover {
    background-color: #ea7600;
    border-color: #ea7600;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
}
/* End Check list price */

/* Begin Compare Products  */
.pt-60 {
    margin-top: 62px;
}
.pt-60 ul, .pt-60 ol {
    list-style: none;
    padding: 0;
}
.pro-compare {
    display: flex;
    margin-top: 20px;
    box-shadow: 0 15px 10px -15px rgba(102, 102, 102, .3);
    border-right: 1px solid #e6e6e6;
}
.sticky-cp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    z-index: 99999;
    max-width: 1296px;
    margin: auto;
    max-height: 90px;
}
.sticky-cp.pro-compare li {
    border-bottom: unset;
}
.sticky-cp.pro-compare li a {
    position: relative;
    padding: 5px 0 5px 70px;
    height: 100%;
}
.sticky-cp.pro-compare li .item-img {
    position: absolute;
    left: 0;
    right: 0;
    width: 70px;
    top: 5px;
    bottom: 5px;
}
.sticky-cp.pro-compare li .item-img img {
    width: auto;
    margin: unset;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}
.sticky-cp.pro-compare li .title-cp, .sticky-cp.pro-compare li .product-cp {
    display: none;
}
.sticky-cp.pro-compare li .item-label, .sticky-cp.pro-compare li .item-rating, .sticky-cp.pro-compare li .deleteProduct, .sticky-cp.pro-compare li .item-bottom, .sticky-cp.pro-compare li .item-txt-online, .sticky-cp.pro-compare li .item-gift {
    display: none;
}
.sticky-cp.pro-compare li.productid-0 {
    display: flex;
}
.sticky-cp.pro-compare li.productid-0 .addsp-cp {
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.sticky-cp.pro-compare li.productid-0 .addsp-cp .plus {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.sticky-cp.pro-compare li .addsp-cp span {
    margin: 0 0 0 10px;
}
.bg-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .75;
    z-index: 999999;
}
.pro-compare li {
    float: left;
    position: relative;
    width: 33.33%;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.pro-compare li a {
    display: block;
    color: #333;
}
.pro-compare li .title-cp {
    font-size: 16px !important;
    line-height: 150%;
    color: #666;
}
.pro-compare li .productname-cp {
    font-size: 16px !important;
    line-height: 150%;
    color: #222;
    font-weight: bold !important;
    text-transform: uppercase;
    margin-top: 10px;
}
.pro-compare li .productname-cp:not(:last-child):after {
    color: #666;
    content: '&';
    display: block;
    font-weight: normal;
    margin-top: 10px;
}
.pro-compare li .item-img {
    position: relative;
}
.pro-compare li .item-img img {
    display: block;
    width: 92%;
    margin: 35px auto 10px;
    position: relative;
    max-width: 275px;
}
.pro-compare li h3 {
    overflow: hidden;
    font-size: 14px !important;
    padding: 0 0 3px 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.pro-compare li strong.price {
    font-size: 14px !important;
    display: block;
    overflow: hidden;
    padding: 0 0 12px 15px;
    color: #c92e38;
}
.pro-compare li a.deleteProduct {
    position: absolute;
    top: 3px;
    right: 6px;
}
.pro-compare li.productid-0 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-compare li .addsp-cp {
    display: block;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.pro-compare li .addsp-cp .plus {
    border: 1px dashed #76b900;
    border-radius: 3px;
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-compare li .addsp-cp .plus i {
    width: 20px;
    height: 1px;
    background: #76b900;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.pro-compare li .addsp-cp span {
    display: block;
    overflow: hidden;
    font-size: 14px;
    margin-top: 15px;
    line-height: 137%;
    color: #666;
}
.modal-body .input-text {
    position: relative;
}
.input-text i.iconcate-search {
    left: 25px;
    top: 12px;
    display: block;
}
.iconcate-search {
    height: 16px !important;
    width: 16px !important;
    background-image: url('/storage/images/ui_images/icon-search-compare.png');
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 2px;
    background-size: 16px 16px;
    display: block;
    position: absolute;
}
#kcc {
    display: block;
    margin: 10px auto;
    width: 95%;
    background: rgba(142, 142, 147, .12);
    border: 0;
    border-radius: 8px;
    padding: 10px 27px 10px 32px;
    font-size: 0.9rem !important;
}

.fullspecs {
    border-bottom: .5px solid #e0e0e0;
    margin-bottom: 20px;
}
.parameter-cp.col1, .parameter-cp.col2, .parameter-cp.col3 {
    width: unset;
}
.parameter-cp {
    display: block;
}
.box-detailcp {
    margin-top: 30px;
}
.technologi .titletechnologi {
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}
.technologi .titletechnologi strong {
    text-transform: uppercase;
    line-height: 140%;
    color: #222;
    margin: 3px 0 0 10px;
}
/* css reponsive so sánh sản phẩm màn hình điện thoại */
.sticky-cp.sticky-3sp.pro-compare li a {
    padding: 5px;
}
.sticky-cp.sticky-3sp.pro-compare li .item-img {
    display: none;
    width: unset;
}
.sticky-3sp.pro-compare li .box-p, .sticky-3sp.pro-compare li strong.price {
    padding: 0 0 3px 0 !important;
}
.sticky-3sp.pro-compare li h3 {
    padding: 0 5px 3px 0 !important;
    font-size: 14px !important;
}
.technologi-mb .title-mb-compare {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #222;
    padding-top: 30px;
    text-transform: uppercase;
}
.hasprod_product {
    display: flex;
}
.hasprod_product aside {
    flex: 1 1 30%;
    border: 1px solid #f1f1f1;
}
.box-detailcp-mb aside p {
    padding: 8px 8px;
    margin-bottom: 0;
}
aside.hasprod-mb p span {
    font-size: 14px !important;
    color: #333;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
aside.hasprod-mb-pr {
    background-color: #f6fdff;
}
.hasprod_product aside p span {
    font-size: 14px !important;
}
.box-detailcp .listtechnologi {
    margin-top: 10px;
    border-left: .5px solid #e0e0e0;
    border-bottom: .5px solid #e0e0e0;
    border-right: .5px solid #e0e0e0;
    border-top: 1.5px solid #222;
}
.box-detailcp .part-detail {
    display: block;
    overflow: hidden;
}
.box-detailcp .part-detail>div {
    display: flex;
}
.box-detailcp aside.hasprod:first-child {
    background: #f1f1f1;
}
.box-detailcp aside {
    float: left;
    width: 25%;
    border-right: .5px solid #e0e0e0;
}
.box-detailcp aside.hasprod {
    border-bottom: .5px solid #e0e0e0;
}
.box-detailcp aside p {
    padding: 10px 12px;
    margin-bottom: 0;
}
.box-detailcp aside p span {
    display: flex;
    font-size: 14px;
    flex-direction: column;
}
.prop span {
    color: #76b900;
    font-weight: bold;
}

.compare-modal {
    top: 20px !important;
}
.scroll-container {
    margin: 0 16px;
    width: 95%;
    overflow-y: auto;
    max-height: 370px;
}
.scroll-container .pro-compare {
    display: flex;
    overflow: hidden;
    border: unset;
    margin-top: 5px;
    flex-wrap: wrap;
    box-shadow: none;
}
.scroll-container .pro-compare li {
    float: left;
    max-width: 33.33%;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 12px 4px 12px 4px;
    position: relative;
}
.scroll-container ul, .scroll-container ol {
    list-style: none;
    padding: 0;
}
.scroll-container .pro-compare li img {
    display: block;
    margin: 0 5px;
}
.scroll-container h3 {
    padding: 0 5px !important;
    margin-top: 10px;
    line-height: 1.3rem;
}
.scroll-container .add-compare {
    cursor: pointer;
    color: #76b900 !important;
    font-size: 0.9rem !important;
}

#compareResults {
    display: none;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 999;
    width: 100%;
}
.compare-outer {
    max-height: 420px;
    overflow: auto;
}
.compare-row {
    display: block;
    float: left;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 3px 0;
}
.compare-title a {
    color: #333;
    font-size: .9rem !important;
    line-height: 1rem;
}
.export-compare {
    display: inline-block;
    float: right;
    padding: 0 10px;
    background: #76b900;
    border: none;
    border-radius: 5px;
    font-size: 14px !important;
    font-weight: bold;
}
/* End Compare Products  */

/* -------------------Begin Responsive ------------------- */
@media (min-width: 1400px) {
    /* .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1220px;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1300px;
    } */
}
@media (max-width: 1200px) {
    .sticky-cp {
        max-width: 936px;
    }
}
@media (min-width: 1200px) {
    .mobile-filter {
        display: none !important;
    }
    .child-filter {
        max-width: 400px !important;
        border: 1px solid #e5e7eb;
        border-radius: 5px;
    }
    .child-filter li {
        padding: 10px;
    }
    .col-w-5 {
        flex: 0 0 auto;
        width: 20%;
    }
    .col-s-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (max-width: 1200px) {    
    .web-filter {
        display: none;
    }
    .child-filter {
        margin-top: 10px !important;
        right: 0;
        border-top: 1px solid #e5e7eb;
        border-bottom: 1px solid #e5e7eb;
    }
    .child-filter ul {
        padding-right: 2rem;
    }
    .child-filter li {
        margin: 5px 5px;
    }
    .fixed-filter {
        top: -1.2rem;
    }
    .res-dnone {
        display: none;
    }
    .res-w100 {
        width: 100%;
    }
}
@media (min-width: 1023px) {
    /* .header {
        display: none;
    } */
    .p-25 {
        padding-top: 8px;
        padding-bottom: 25px;
    }
    .h-90 {
        height: 70px;
    }
    .navigation .desktop-nav {
        display: none !important;
    }
}
@media (max-width: 1023px) {
    /* .header {
        display: none;
    } */
    .page-footer__subscribe {
        float: none;
        margin-bottom: 50px;
        width: 100%;
    }
    .page-footer__social {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        float: none;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .carousel-inner h1 {
        font-size: 28px !important;
        font-weight: bold;
    }
    .carousel-inner p {
        font-size: 15px !important;
    }
    .btn-carousel {
        margin-bottom: 15px;
    }
    .formcheck {
        width: 100%;
    }
    .search-submit {
        width: 32% !important;
    }
    .search-submit1 {
        display: none !important;
    }
}

@media screen and (min-width: 639px) and (max-width: 1023px) {
    .page-footer {
        font-size: 20px !important;
    }
    .subscribe-container .center-content {
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .col-w-5 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-s-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .btn-img {
        padding: 4px;
    }
}
@media (max-width: 992px) {
    .global-nav {
        display: none;
    }
    .modal-search {
        width: 95%;
        margin-right: 0;
    }
    .modal-backdrop {
        top: 70px;
    }
    /* #template-mo-zay-hero-carousel {
        margin-top: 35px;
    } */
    .nav-fixed {
        position: fixed;
        top: 0;
        z-index: 9999;
        background-color: white;
    }
    .new-prod {
        top: 116px !important;
    }
    .pt-44, .pt-60, .pro-compare {
        margin-top: 0;
    }
    .page-footer {
        font-size: 20px !important;
    }
    .footer-link {
        margin-bottom: 20px;
    }
    .footer-link a, .global-footer__links a {
        font-size: 0.9rem !important;
    }
    .btn-img {
        padding: 4px;
    }
    .text-dark{
        font-size: 0.9rem !important;
    }
    .modal-image {
        width: 80% !important;
    }
    .show-filter-mb, .navbar-toggler {
        color: #212529;
    }
    .sticky-cp {
        max-width: 696px;
    }
}
@media (min-width: 992px) {
    .navbar-mobile {
        display: none;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 769px) {
    .pro-compare li:first-child {
        border: none;
    }
}
@media (max-width: 768px) {
    .nav-mb {
        display: none;
    }
    .text-cate {
        display: contents;
    }
    .pro-compare {
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }

    .pro-compare li:first-child {
        width: 100%; /* Chiếm toàn bộ chiều ngang */
    }

    .pro-compare li {
        width: 33.33%; /* 3 cột chia đều */
        float: none; /* Loại bỏ float khi màn hình nhỏ */
    }
    .pro-compare li .title-cp {
        display: inline;
    }
    .product-cp {
        display: initial;
    }
    .pro-compare li .productname-cp {
        font-size: 16px;
        line-height: 150%;
        color: #222;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
        display: inline;
    }
    .pro-compare li .productname-cp:not(:last-child):after {
        color: #666;
        content: '&';
        display: block;
        font-weight: normal;
        margin-top: 10px;
        display: inherit;
        margin-left: 8px;
    }
}
@media (max-width: 767px) {
    .splide {
        width: 100%;
    }
    .filter-total {
        width: 26% !important;
        left: 0;
        position: absolute;
        padding-left: 10px;
        padding-bottom: 9px;
        z-index: 3;
    }
    .sticky-cp {
        max-width: 516px;
    }
}

@media (max-width: 639px) {
    .ft-black {
        padding: 15px;
    }
    .hp-category {
        margin: 1rem -12px;
    }
    .nv-button .btn-content {
        font-size: 11px !important;
        padding: 9px 11px;
    }
    .page-footer__social {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .page-footer__social__label {
        display: block;
        float: none;
        height: auto;
        margin-bottom: 15px;
        margin-right: 0;
        text-align: center;
        width: 100%;
    }

    .global-footer {
        padding: 15px;
    }
    .global-footer__logo {
        float: none;
    }
    .global-footer__region {
        float: none;
        margin-bottom: 10px;
    }
    .global-footer__links {
        margin-bottom: 0;
        text-align: center;
    }
    .global-footer__copyright {
        margin-top: 10px;
        text-align: center;
    }
    .footer-link>li {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 20px;
    }
    .carousel-indicators li {
        width: 18px;
    }
    .btn-carousel {
        font-size: 16px !important;
        padding: 10px 12px;
        min-width: 40px;
    }
    .search-submit {
        font-size: 15px !important;
    }
    #check-list table tbody tr td {
        white-space: nowrap;
    }
    .desc {
        min-width: 200px;
        white-space: normal !important;
        max-width: 400px;
    }
}

@media (min-width: 567px) {
    #rate-form .rate-stars-row {
        margin-top: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    .subscribe-logo {
        position: relative;
        top: 7px;
        float: none;
        margin-bottom: 10px;
    }
    .subscribe-text {
        float: none;
        margin-left: 0px;
        display: block;
    }
    .subscribe-container .button {
        margin-top: 33px;
        display: inline-block;
        float: none;
        margin-left: 0px;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .btn-img {
        padding: 4px;
    }
    .card-body a {
        font-size: 0.9rem !important;
    }
}

/* -------------------End Responsive ------------------- */