/* Ví dụ trong app.css hoặc style.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    color: #333;
}
/* css header */
#templatemo_main_nav {
    padding-right: 4rem;
}
.main-nav-link {
    padding-right: 1rem;
}

a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #666;
}
/* Begin Menu */
.f-h2 {
    font-size: 35px !important;
}
/* Navbar dropdown */
.global-nav {
    background-color: #fff;
    height: 44px;
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.navbar-brand {
    margin-right: 1rem;
}

.navbar-content {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    color: #666;
}

.nav-item {
    position: static;
}

.nav-link {
    text-decoration: none;
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 3px solid white;
}
.underline-gr {
    border-bottom: 3px solid greenyellow;
}
.underline-green {
    border-bottom: 3px solid greenyellow;
}

.nav-link:hover {
    background-color: #fff;
}

.dropdown-content {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw; /* Chiều rộng bằng toàn bộ màn hình */
    background-color: #eee; /* Màu nền */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng */
    z-index: 1; /* Độ sâu z-index để đảm bảo hiển thị phía trên các phần tử khác */
}

.dropdown-sub {
    position: static;
}

.list-sub {
    display: none;
    position: fixed;
    /* osition: fixed; */
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #E0E0E0;
    z-index: 1;
    margin-top: 14px;
}
.dropdown-sub.active .list-sub {
    display: block; /* Show list-sub when parent dropdown-sub has class active */
}

.dropdown-link {
    color: black;
    text-decoration: none;
    /* display: block; */
    white-space: nowrap;
}

.dropdown-link:hover {
    color: #ddd;
}

.dropdown-content li a:hover {
    color: #1a1a1a;
}

.menu-title-1 {
    float: left;
    color: #666;
    cursor: pointer;
    margin: 0;
    padding: 10px 11px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    height: 45px;
}
.menu-title-child {
    color: #1a1a1a;
    float: left;
    margin-right: 30px;
    max-width: 190px;
    padding-bottom: 20px;
    width: 190px;
    padding-top: 30px;
    line-height: 1.25em;
}
.menu-lg-item {
    padding: 0 !important;
    background-color: #eee !important;
    border: 0px !important;
    font-size: 14px !important;
}
.menu-lg-item:hover {
    color: #000;
}
.menu-lg-item:active {
    color: #000;
}
.menu-lg-child {
    padding: 0 !important;
    background-color: #E0E0E0 !important;
    border: 0px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}
.menu-lg-child1 {
    padding: 0 !important;
    background-color: #E0E0E0 !important;
    border: 0px !important;
    color: #666;
    font-size: 14px !important;
    padding: 7px 0 !important;
    line-height: 20px;
    font-weight: 0 !important;
}
.menu-title-2 {
    color: #1a1a1a;
    float: left;
    margin-right: 30px;
    max-width: 190px;
    padding-bottom: 20px;
    width: 190px;
    padding-top: 30px;
    line-height: 1.25em;
}
.menu-item {
    padding: 0 !important;
    min-height: 40px;
    background-color: #eee !important;
    border: 0px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}
.menu-item-child {
    padding: 0 !important;
    background-color: #eee !important;
    border: 0px !important;
    color: #666;
    font-size: 14px !important;
    padding: 7px 0 !important;
    line-height: 20px;
    font-weight: 0 !important;
}
hr {
    margin: 10px 0 !important;
    border: 1px solid #666 !important;
}
.menu-title-3 {
    /* background-color: #eee; */
    color: #1a1a1a;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 1.25em;
    padding-top: 30px;
    width: 836px;
}
.w-menu-3 {
    width: 836px;
}
.text-menu-3 {
    padding-bottom: 7px;
    font-size: 14px !important;
    line-height: 1.25em;
}
.text-menu-3 a:hover {
    color: #1a1a1a;
}
.menu-title-4 {
    color: #666;
    cursor: pointer;
    margin: 0;
    padding: 10px 11px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    float: left;
    height: 45px;
}
.menu-item-4 {
    padding: 0 !important;
    background-color: #eee !important;
    border: 0px !important;
    font-size: 14px !important;
}

.n24-icon {
    height: 24px;
    width: 24px;
}
/* ------css Nabar reponsive ----- */
.navbar-mobile {
    font-size: 14px !important;
}
.nav-item-mobile {
    background-color: #fff;
    color: #1a1a1a;
    /* font-size: 16px !important; */
    padding: 15px 0px 15px 0px;
}

.dropdown-content-mobile {
    display: none;
    list-style: none;
    padding: 0 0 30px 0;
    margin: 15px 0 0 0;
    background-color: #E0E0E0;
}
.bg-mb-1 {
    background-color: #eee !important;
    padding: 0 !important;
}
.icon-down {
    float: right;
    padding: 4px 0;
    margin-right: 25px;
}
.icon-up {
    display: none;
    float: right;
    padding: 4px 0;
    margin-right: 25px;
}

.nav-child-mobile {
    padding: 15px 0px 15px 10px;
}

.nav-link-mb {
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}
.mr-10 {
    margin-right: 10px;
}
.p-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.sub-pt-30 {
    padding-top: 30px;
}

.sub-pt-30 a {
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 1em;
    padding-bottom: 15px;
    text-transform: none;
}
.sub-pt-30 hr {
    margin-left: 40px !important;
}
/* .sub-pt-30 > hr:last-of-type {
    display: none;
} */

.sub-pt-10 {
    margin-top: 10px;
}
.sub-pt-10 a {
    font-size: 14px !important;
    line-height: 1em;
}
.link-sub-mb {
    margin-left: 40px;
    cursor: pointer;
}
.link-sub-parent {
    margin-left: 50px;
    cursor: pointer;
}
/* css header */

/* css carousel */

.bl-carousel {
    background-color: black;
    color: white;
}

.btn-carousel {
    background-color: var(--custom-button-color, #76b900);
    border: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 1.25em;
    min-width: 50px;
    padding: 13px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    white-space: nowrap;
}
.btn-carousel:hover {
    background-color: var(--custom-button-hover-color, #91c733);
    color: #000;
}
.carousel-inner h1 {
    font-size: 3rem !important;
    font-weight: bold;
}
.carousel-inner h3 {
    font-weight: bold;
}
.carousel-inner p {
    font-size: 18px !important;
    line-height: 1.75em;
}
.wh-carousel p {
    color: #1a1a1a;
}

/* css carousel */

/* --------------------Begin Css Danh mục sản phẩm------------------------ */
.hp-category {
    margin: 1.5rem 0;
    background-color: #eee;
    border-radius: 7px;
}
.hp-category a {
    color: black;
    /* font-size: 18px !important; */
    font-weight: 700 !important;
}
.filter-cate h1{
    font-size: 1.5rem;
    font-weight: 700;
}
/* Bộ lọc */
.filter h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.bg-filter {
    margin: 0;
    padding: 12px 0;
}
.nav-filter li {
    padding-left: 15px;
    position: relative;
}
.fixed-filter {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    left: 0;
    padding: 10px 0;
    position: fixed;
    right: 0;
    top: 44px;
    width: 100%;
    z-index: 9999;
}

.cont-fixed {
    display: flex !important;
    padding: 0;
}
.filter-item {
    padding: 8px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
    background-color: #eee;
    position: relative;
}
.btn-filter {
    text-decoration: none;
    color: black;
}
.btn-filter:hover {
    color: #76b900;
}
/*  */
.pos-filter {
    position: relative;
}
.arrow-filter {
    width: 27px;
    height: 14px;
    top: 30px;
    left: 25px;
    position: absolute;
    overflow: hidden;
}
.filter-show-right {
    left: auto !important;
    right: 0;
}

/*  */
.child-filter {
    display: none;
    list-style: none;
    position: absolute;
    margin-top: 20px;
    width: 100vw;
    padding: 12px 0px;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .5);
}

.child-filter a {
    display: inline-block;
    word-wrap: break-word;
    margin: 10px 0;
}
.child-filter li {
    display: inline-block;
    word-wrap: break-word;
}
.btn-child-filter {
    align-items: center;
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    color: #444;
    cursor: pointer;
    height: 34px;
    padding: 5px 10px;
    white-space: nowrap;
}
.filter-button-sticky {
    bottom: 0;
    margin: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
}
.filter-button {
    background-color: #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, .05);
    font-size: 0;
    margin-top: 20px;
    padding-top: 8px;
    text-align: center;
    display: none;
}
.btn-filter-close, .btn-filter-readmore {
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    margin: 0 5px;
    padding: 10px 0;
    text-align: center;
    width: 170px;
    position: relative;
}
.btn-filter-close {
    border: 1px solid #dd1c1a;
    color: #dd1c1a;
}
.btn-filter-readmore {
    background-color: #76b900;
    color: #fff;
}
.border-blue {
    border: 1px solid #76b900;
}

.filter-total {
    width: 20% !important;
}

.splide__slide {
    width: auto !important;
    margin-right: 6px !important;
    position: unset;
}
.splide-right {
    position: relative;
}
.mobile-filter {
    width: 100%;
    max-width: 100%;
}
.splide__arrow,
.splide__pagination {
    display: none;
}
/* Bộ lọc */

.bg-cate {
    margin: 0;
}
.btn-img {
    padding: 0 1rem;
}
.btn-img-new {
    padding: 6px;
}
.btn-img-new img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-new {
    overflow: hidden;
    transition: scale .5s ease;
}
.card-new:hover {
    scale: 1.05;
    transition: scale .5s ease;
}
.ft-sw {
    font-size: 20px !important;
    font-weight: 700 !important;
}
.nav-mb li {
    padding-left: 15px;
    /* background-color: #eee; */
}
.nav-mb a {
    padding: 5px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
    background-color: #eee;
}
.btn-link {
    text-decoration: none;
    color: black;
}
.btn-link:hover {
    color: #76b900;
}
.card {
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}
.text-dark {
    height: 66px;
}

.card-body ul {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
.icon-heart {
    color: #76b900;
}

/* Begin css categories */
.breadcrumb {
    margin-bottom: 0;
    padding: 10px 0;
}
.breadcrumb a {
    text-decoration: none;
    color: #212529;
} 

.menu-left {
    background: #fff;
    padding: 0 15px;
}
.product-wap {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
} 
.menu-left h2 {
    font-size: 25px !important;
    font-weight: 500;  
}
#cate-menu-left {
    padding: 0;
    height: auto;
}
.menu-cate-prd ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.menu-cate-prd ul li {
    border-bottom: 1px solid #ddd;
}
.menu-cate-prd ul > li.show > a {
    font-weight: 400 !important;
}
.menu-cate-prd ul > li.show > i.fa-caret-down {
    display: none;
}
.menu-cate-prd ul > li > i {
    float: right;
    padding: 13px 16px;
    color: #00a510;
}
.menu-cate-prd ul > li.show > i.fa-caret-up {
    display: block;
    background: #00a510;
    color: #fff;
}
.menu-cate-prd ul > li > a {
    padding: 9px 0;
    display: inline-block;
}
.menu-cate-prd ul li a {
    text-decoration: none;
    color: #25292d;
}

.card-body {
    padding: 10px;
}
.pt-44 {
    margin-top: 44px;
    background-color: #eee;
}

.page-item.active .page-link {
    background-color: #76b900;
    border-color: #76b900;
}
.page-link {
    color: #000;
}
.content-cate {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: block;
    margin-right: auto;
    max-height: 500px;
    min-height: 0;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
}
.bg-prod {
    background-color: #76b900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 50px;
}
.bg-prod h2{
    font-size: 1.25rem;
    margin: 0;
    padding-left: 1rem;
    font-weight: 600;
}
.outstand-prod {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: block;
    margin-right: auto;
    max-height: 500px;
    min-height: 0;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
}
.title-outstand-prod {
    margin-top: 50px;
}
.support-prod {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: block;
    margin-right: auto;
    min-height: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
}
.top-heading {
    display: block;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    font-weight: 600;
    background: #eee;
    padding: 2px 10px 1px;
    border-radius: 3px;
}
.contact-infor {
    margin-bottom: 7px;
    margin-left: 5px;
    line-height: 20px;
}
.contact-infor i {
    margin-right: 5px;
}
.user-heading {
    font-weight: 500;
    color: #B30000;
    font-size: .9rem;
}

.sp-online {
    margin-top: 4px;
}
.i-skype {
    background: url(../img/skype-icon-min.png) no-repeat 0px 0 / 33px;
    display: inline-block;
    height: 15px;
    width: 33px;
    position: relative;
    top: 4px;
}
.i-zalo {
    background: url(../img/zalo-icon-min.png) no-repeat 0px 0 / 33px;
    display: inline-block;
    height: 15px;
    width: 33px;
    position: relative;
    top: 4px;
}
.i-gmail {
    background: url(../img/icon-gmail.png) no-repeat 0px 0 / 20px;
    display: inline-block;
    height: 15px;
    width: 20px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.btn-outstand img{
    border: 1px solid #eee;
    border-radius: 5px;
}
.show-more {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .91) 50%, #fff 55%);
    border-radius: 7px;
    bottom: 0;
    display: none;
    left: 0;
    margin-bottom: 0;
    padding-top: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
.btn-show-more button{
    padding: 5px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
    background-color: #eee;
}
.outstand-show-more {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .91) 50%, #fff 55%);
    border-radius: 7px;
    bottom: 0;
    display: none;
    left: 0;
    margin-bottom: 0;
    padding-top: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
/* --------------------End Css Danh mục sản phẩm------------------------ */

/* --------------------Begin Css Footer------------------------ */
.ft-black {
    background-color: #000;
    padding: 40px 30px;
}
.page-footer {
    border-bottom: 1px solid #747474;
    color: #eee;
    font-size: 26px !important;
    font-weight: 700 !important;
    line-height: 26px;
    padding-bottom: 9pt;
    text-align: left;
    text-transform: none;
}
.footer-link {
    margin-top: 10px;
    margin-bottom: 50px;
}
.footer-link li{
    margin-bottom: 5px;
}
.ft-link {
    color: #76b900;
    line-height: 30px;
}
.ft-link:hover {
    color: #76b900;
}


.page-footer__social {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
    text-align: right;
    width: 33%;
}
.page-footer__social__label {
    color: #747474;
    display: inline-block;
    margin-right: 30px;
    padding-top: 2px;
    vertical-align: top;
}
.page-footer__social__link {
    display: inline-block;
    height: 24px;
    margin-right: 15px;
    text-decoration: none;
    width: auto;
}
.page-footer__social__link i {
    color: #999;
    font-size: 24px;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.fa-facebook-f:hover, .fa-instagram:hover, .fa-linkedin-in:hover, .fa-twitter:hover, .fa-youtube:hover {
    color: white;
}
.page-footer__subscribe {
    display: inline-block;
    width: 66%;
}
.subscribe-container {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.subscribe-container .center-content {
    height: 50px;
    max-width: 675px;
}
.subscribe-logo {
    float: left;
    display: inline-block;
    width: 50px;
    position: relative;
    top: 7px;
}
.subscribe-text {
    float: left;
    display: inline-block;
    font-size: 18px !important;
    line-height: 1;
    position: relative;
    top: 16px;
    color: white;
    margin-left: 30px;
}
.subscribe-container .button {
    float: left;
    display: inline-block;
    margin-left: 30px;
    margin-top: 3px;
}
.nv-button .btn-content {
    background-color: var(--custom-button-color, #76b900);
    border: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 18px ;
    font-weight: 700 !important;
    line-height: 1.25em;
    min-width: 50px;
    padding: 13px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    white-space: nowrap;
}
#sub-btn-font {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.global-footer-container {
    background-color: #fff;
    width: 100%;
}
.global-footer {
    background: #fff;
    margin: 0 auto;
    padding: 30px 0;
}
.global-footer__logo {
    display: block;
    float: left;
    height: 20px;
    margin: 0 auto 15px;
    width: 110px;
}
.global-footer__region {
    float: right;
    height: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.global-footer__region__label {
    color: #666;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
}

.global-footer__links {
    clear: both;
    list-style-type: none;
    margin: 0 0 4px;
    padding: 0;
}
.global-footer__links>li {
    display: inline-block;
    margin-right: 5px;
    padding-right: 10px;
    position: relative;
}
.global-footer__links>li>a {
    color: #666;
    display: inline-block;
    line-height: 24px;
    text-decoration: none;
}
.global-footer__links>li:after {
    background: #666;
    content: " ";
    height: 14px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
}
/* .global-footer__links>li:last-child {
    margin-right: 0;
    padding-right: 0;
} */

.global-footer__copyright {
    clear: both;
    color: #666;
    font-size: 9pt !important;
    line-height: 15px;
}
/* --------------------End Css Footer------------------------ */


/* -------------------Begin Responsive ------------------- */
@media (min-width: 1400px) {
    /* .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1220px;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1300px;
    } */
}
@media (min-width: 1200px) {
    /* .container-xl, .container-lg, .container-md, .container-sm,.container 
    {
        max-width: 1200px;
    } */
    .mobile-filter {
        display: none !important;
    }
    .child-filter {
        max-width: 400px !important;
        border: 1px solid #e5e7eb;
        border-radius: 5px;
    }
    .child-filter li {
        padding: 10px;
    }
}

@media (max-width: 1200px) {    
    .web-filter {
        display: none;
    }
    .child-filter {
        margin-top: 10px !important;
        right: 0;
        border-top: 1px solid #e5e7eb;
        border-bottom: 1px solid #e5e7eb;
    }
    .child-filter ul {
        padding-right: 2rem;
    }
    .child-filter li {
        margin: 5px 5px;
    }
    .fixed-filter {
        top: 54px !important;
    }
}
@media (min-width: 1023px) {
    /* .header {
        display: none;
    } */
    .p-25 {
        padding-bottom: 9px;
    }
    .h-90 {
        height: 135px;
    }
    .navigation .desktop-nav {
        display: none !important;
    }
}
@media (max-width: 1023px) {
    /* .header {
        display: none;
    } */
    .page-footer__subscribe {
        float: none;
        margin-bottom: 50px;
        width: 100%;
    }
    .page-footer__social {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        float: none;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .carousel-inner h1 {
        font-size: 28px !important;
        font-weight: bold;
    }
    .carousel-inner p {
        font-size: 15px !important;
    }
    .btn-carousel {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 639px) and (max-width: 1023px) {
    .page-footer {
        font-size: 20px !important;
    }
    .subscribe-container .center-content {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .global-nav {
        display: none;
    }
    #template-mo-zay-hero-carousel {
        margin-top: 35px;
    }
    .nav-fixed {
        position: fixed;
        top: 0;
        z-index: 9999;
        background-color: white;
    }
    .new-prod {
        top: 116px !important;
    }
}
@media (min-width: 992px) {
    .navbar-mobile {
        display: none;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 20%;
    }
}
@media (max-width: 768px) {
    .nav-mb {
        display: none;
    }
    .text-cate {
        display: contents;
    }
}
@media (max-width: 767px) {
    .splide {
        width: 100%;
    }
    .filter-total {
        width: 26% !important;
        left: 0;
        position: absolute;
        padding-left: 10px;
        padding-bottom: 9px;
        z-index: 3;
    }
}

@media (max-width: 639px) {
    .ft-black {
        padding: 15px;
    }
    .hp-category {
        margin: 1rem -12px;
    }
    .nv-button .btn-content {
        font-size: 11px !important;
        padding: 9px 11px;
    }
    .page-footer__social {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .page-footer__social__label {
        display: block;
        float: none;
        height: auto;
        margin-bottom: 15px;
        margin-right: 0;
        text-align: center;
        width: 100%;
    }

    .global-footer {
        padding: 15px;
    }
    .global-footer__logo {
        float: none;
    }
    .global-footer__region {
        float: none;
        margin-bottom: 10px;
    }
    .global-footer__links {
        margin-bottom: 0;
        text-align: center;
    }
    .global-footer__copyright {
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    .subscribe-logo {
        position: relative;
        top: 7px;
        float: none;
        margin-bottom: 10px;
    }
    .subscribe-text {
        float: none;
        margin-left: 0px;
        display: block;
    }
    .subscribe-container .button {
        margin-top: 33px;
        display: inline-block;
        float: none;
        margin-left: 0px;
    }
}

/* -------------------End Responsive ------------------- */